.heading_h3
{
    font-size: 23px;
    background-color: yellow;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px gold;
    color: black;
}

.heading_div
{
    float: none;
    background:red;
padding: 10px;
border-radius: 20px;
color: black;
box-shadow: gold;
}

.heading_div2
{
    font-size: 18px;
    background-color: royalblue;
    color: black;
}

.result_para_tag
{
    box-shadow: 5px 5px 5px peachpuff;
    font-size: 20px;
}

.copy_right_footer
{
   color: white;
    bottom: 0;
    width: 100%;
    background-color: navy;
    line-height: 3;
    text-align: center;
    height: -15%;
position: fixed;
border-radius: 200px;
 
}

canvas{
    border: 5px solid red;
    border-radius: 20px;
    box-shadow: 5px 5px 10px orange;
    margin-top: 150px;
}